/* Step3: 一番上の図形へのスタイル適用 */
#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 40px auto 20px; /* 上にアンダーライン用の余白を追加 */
  text-align: center; /* 中のp要素を中央揃えにする */
  position: relative; /* 擬似要素用の位置基準を設定 */
}

#top::before {
  content: '';
  position: absolute;
  top: -20px; /* 上のマージンに合わせて調整 */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightgrey; /* アンダーラインの色 */
}

.top-child {
  width: 20%; /* 親要素の20%になるように設定 */
  background-color: #ffd9df;
  display: inline-block; /* 横並びにするためにdisplayプロパティを設定 */
}

/* Step4-1: 真ん中の図形へのスタイル適用 */
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
  margin: 20px auto; /* 上下に余白をつけて中央に配置 */
  position: relative; /* 子要素の位置を指定するためにrelativeを使用 */
}

#middle-child01,
#middle-child02,
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute; /* 親要素を基準にした位置指定 */
}

#middle-child01 {
  top: 100px;
  left: 100px;
}

#middle-child02 {
  top: 300px;
  left: 300px;
}

#middle-child03 {
  top: 500px;
  left: 500px;
}

/* Step5-1: 一番下の図形へのスタイル適用 */
#bottom {
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin: 20px auto 40px; /* 下にアンダーライン用の余白を追加 */
  position: relative; /* 擬似要素用の位置基準を設定 */
}

#bottom::after {
  content: '';
  position: absolute;
  bottom: -20px; /* 下のマージンに合わせて調整 */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightgrey; /* アンダーラインの色 */
}

#bottom-child01,
#bottom-child02,
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: absolute; /* 本来の位置からずらすためにabsoluteを使用 */
}

#bottom-child01 {
  top: 0;
  left: 0;
}

#bottom-child02 {
  top: 100px;
  left: 200px; /* 本来の位置の左から200pxずらす */
}

#bottom-child03 {
  top: 200px;
  left: 400px; /* 本来の位置の左から400pxずらす */
}



