/* 全体のフォント設定 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

/* ルート要素のフォント設定 */
:root {
  font-size: 20px;
}

/* MY PROFILEの色設定 */
.skyblue-text {
  color: skyblue;
}

.pink-text {
  color: rgb(255, 192, 203);
}

/* h1のフォント設定 */
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem; /* ルート要素の2倍 */
  letter-spacing: 1.2em; /* 文字の大きさに対して1.2倍 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影の設定 */
  border-top: 1px solid rgba(178,178,178,0.5); /*上部のアンダーラインを設定（薄いグレー）*/
  margin-top: 20px; /* アンダーラインとMYPROFILEの上側に余白を追加 */
  padding-top: 20px; /* さらに上側に余白を追加 */
  border-bottom: 3px solid rgb(115, 115, 114); /* 下線の設定 */
}

/* basic内の特定の要素の太字設定 */
#basic strong {
  font-weight: bold;
}
/*p要素内のstrong要素を太字に設定*/
p strong {
    font-weight:bold;
}


/* 通常のpのスタイルをリセット */
p {
  font-weight: normal;
}

/* 特定のパラグラフにアンダーライン設定 */
p:last-of-type {
  position: relative;
  padding-bottom: 25px; /* 十分な余白を取って、アンダーラインがテキストの下に配置されるようにする */
}

p:last-of-type::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(178, 178, 178, 0.5); /* 下部のアンダーライン設定（薄いグレー） */
}

